<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <li><span>Curso: {{object}}</span><br>
        <span>Professor: {{object.professor}}</span><br>
        <span>Data Inicio: {{object.data_inicio|date:'d/m/Y'}}</span><br>
        <span>Data Fim: {{object.data_fim|date:'d/m/Y'}}</span>
    </li>
</body>
</html>