{% extends 'inscricao/base.html' %}
{% block content %}
<table class="table">
    <head>
        <tr>
            <th>Curso</th>
            <th>Professor</th>
            <th>Data Inicio</th>
            <th>Data Fim</th>
        </tr>
    </head>
    <body>
            {% for curso in object_list %}
            <tr>
                <td><a href="{% url 'participante_detail' curso.pk %}">{{ curso.nome }}</a></td>
                <td>{{ curso.email }}</td>
                <td>{{ curso.telefone }}</td>
                <td>{{ curso.endereco }}</td>
            </tr>
            {% empty %}
                <span>Não ha cursos cadastrados</span>
            {% endfor %}
    </body>
</table>
<div class="w-100 border"><a class="brn btn-primary float-right mr-5" href="{% url 'participante_form' %}">Cadastrar</a></div>
{% endblock content %}

